<div class="container">
    <div class="row grid-divider" style="margin:30px;">
    <div class="col-sm-4" >
        <h3>
        EXPERIENCE AN OPEN DRONE OSS PLATFORM 
        </h3>
    </div>
    <div class="col-sm-4"> 
    <p>
     We provide operators with an off the shelf, field proven DroneOSS™operational platform which is fully functional and compliant with FAA and other applicable regulations for drone flight management and their mobile applications. This includes flight planning, airspace management, data analytics, compliance, drone management, resource management, maintenance information and much more.  
     Our solution provides operators and analysts access to the Command and Control for one or multiple UAV operations at any given time.    
    </p>
    </div>
    <div class="col-sm-4">
    <p>
    The control can be delegated to users at multiple geographical locations using our Cloud based Control Station.
    Our module on board the UAVs enables the analysts to get access to the EO/IR or other sensors in real time over the encrypted links coming down to local or cloud based control station. The data also gets archived in our secure cloud for additional post processing and analytics.
    </p>       
           </div>
           </div>
       
       </div>